#environment
.venv/
.env
.vscode/

#profile
chrome_profile/
firefox_profile/
pap_profile/
ouffo_profile/

#python
__pycache__/
*.pyc
*.pyo
*.pyd
*.pdb
*.egg-info/

data/
logs/

.streamlit/secrets.toml